:root {
  --c1: seashell;
  --c2: black;
  --s: 100px; /* hex size  */
  --m: 1px; /* hex margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  --bg-size: 25px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c2);
  background-image: radial-gradient(var(--c1) 0.5px, transparent 0.5px),
    radial-gradient(var(--c1) 0.5px, var(--c2) 0.5px);
  background-size: var(--bg-size) var(--bg-size);
  background-position: 0 0, calc(var(--bg-size) / 2) calc(var(--bg-size) / 2);
  overflow: auto;
}

#player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  font-size: calc(var(--s) / 3);
}

/* Hexagon grid in css: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
#app {
  height: 740px; /* hardcoded so layout does not shift */
  width: 833px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
}

.container {
  position: relative;
  font-size: 0; /*disable white space between inline block element */
}

.container div {
  position: relative;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: var(--c1);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
}
