:root {
  --s: 100px; /* hex size  */
  --m: 0px; /* hex margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  --bg-size: 25px;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: radial-gradient(seashell 0.5px, transparent 0.5px),
    radial-gradient(seashell 0.5px, black 0.5px);
  background-size: var(--bg-size) var(--bg-size);
  background-position: 0 0, calc(var(--bg-size) / 2) calc(var(--bg-size) / 2);
}

* {
  font-family: monospace;
  font-size: large;
  color: var(--pu);
}

.player {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  pointer-events: none;
}

.player circle {
  fill: var(--hex-color, hotpink);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    r: 40;
  }
  50% {
    r: 35;
  }
}

/* Hexagon grid in css: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
#app {
  height: 723px; /* hardcoded so layout does not shift */
  width: 833px;
  overflow: hidden;
  display: flex;
}

.container {
  font-size: 0; /*disable white space between inline block element */
}

.container div {
  position: relative;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: black;
  --hex-color: seashell;
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}
.container div:nth-child(3n + 2) {
  background: hotpink;
  --hex-color: black;
}
.container div:nth-child(3n) {
  background: seashell;
  --hex-color: hotpink;
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
}
