:root {
  --bl: #2C2C2A;
  --pu: #A07CFF;
  --wh: #FFF3F3;
  --s: 100px; /* size  */
  --m: 0px; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: monospace;
  font-size: large;
  color: var(--pu);
  background: black;
}

/* Hexagon grid in css: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
#app {
  height: 754px; /* hardcoded so layout does not shift */
  width:  833px;
  overflow: hidden;
  display: flex;
}

.container {
  font-size: 0; /*disable white space between inline block element */
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: var(--pu);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}
.container div:nth-child(3n+2) {
  background: var(--wh);
}
.container div:nth-child(3n) {
  background: var(--bl);
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
}
